<!DOCTYPE html>
<html>
  <head>
    <title>TurboDrivePermanent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Pricing', pricing_path %>
      <%= link_to 'Privacy', privacy_path %>
      <%= link_to 'Terms', terms_path %>
      <%= link_to 'About', about_path %>
    </div>
    <%= yield %>
  </body>
</html>
